@using SevenH.MMCSB.Atm.Domain
@model SevenH.MMCSB.Atm.Web.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <style>
        
        .menubg {
            background-color: #dcdcdc;
        }
         a:hover {
             color: #0000ff;
         }

        #contextMenu {
            position: absolute;
            display: none;
        }
    </style>
}

<div class="row">
    <div class="tile">
        <h2 class="tile-title">Menu Bagi Pengambilan bagi @string.Format("{0} Siri {1}/{2} ", Model.Acquisition.AcquisitionType.AcquisitionTypeNm, Model.Acquisition.Siri, @Model.Acquisition.Year)</h2>
        <div class="p-10">

            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Selenggara Siri Pengambilan</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                @*<a href="#" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>*@
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Senarai Permohonan</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                <a href="@Url.Action("SearchApplicant", "Admin")" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Statistik Permohonan</h4>
                            <a href="@Url.Action("Index", "Statistic")" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Membuat Panggilan Pemilihan Awal</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                <a href="@Url.Action("FirstIntakeSelection", "Admin")" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Merekodkan Status &amp; Markah Ujian Bertulis</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                @*<a href="#" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>*@
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Merekodkan Tapisan Keselamatan</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                @*<a href="#" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>*@
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Merekodkan Keputusan Pemeriksaan Fizikal, Pemeriksaan Kesihatan dan Ujian Kecergasan</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                @*<a href="#" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>*@
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Membuat Panggilan Temuduga/Pemilihan Akhir</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                <a href="@Url.Action("FirstIntakeUpdateAndFinalSelection", "Admin")" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Merekodkan Semakan Dokumen</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                @*<a href="#" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>*@
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Mengemaskini Status Temuduga / Pemilihan Akhir</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                <a href="@Url.Action("InterviewUpdateAndFinalSelection", "Admin")" c class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail thumbnail-menu tile menubg ">
                        <div class="p-10">
                            <h4>Penetapan No Tentera &amp; Hantar ke HRMIS</h4>
                            @if (!ObjectBuilder.GetObject<IRoleProvider>("RoleProvider").CheckUserIsInRole(User.Identity.Name, RolesString.STATISTIC))
                            {
                                @*<a href="#" class="btn btn-info btn-sm" style="position: absolute; bottom: 5px; right: 5px;">Buka</a>*@
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="p-l-5">
                    <a class="btn btn-sm" href="@Url.Action("Intakes", "Admin")">Kembali</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@Url.Content("~/Scripts/Core/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/jquery-dataTable-bootstrap-extender.js")"></script>
    <script src="@Url.Content("~/Scripts/Main/admin_index.js")"></script>
}
