@model SevenH.MMCSB.Atm.Web.Models.StatisticViewModel
@{
    ViewBag.Title = "Laman Utama";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="tile">
        <h2 class="tile-title">Statistik bagi Pengambilan @Model.Acquisition.AcquisitionType.AcquisitionTypeNm @Model.Acquisition.Siri / @Model.Acquisition.Year</h2>
        <div class="p-10">

            <ol>
                <li>
                    <a href="#" onclick="javascript:openinwindow('@Url.Action("ByStateAndGender", "Statistic", new { id = Model.Acquisition.AcquisitionId })', 'bystateandgender' , true); ">
                        <span>
                            Statistik Mengikut Negeri dan Jantina
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript:openinwindow('@Url.Action("ByStateAndGenderRace", "Statistic", new { id = Model.Acquisition.AcquisitionId })', 'bystateandrace' , true); ">
                        <span>
                            Statistik Mengikut Negeri, Jantina dan Bangsa
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript:openinwindow('@Url.Action("ByStateAndGenderAcademics", "Statistic", new { id = Model.Acquisition.AcquisitionId })', 'bystateandrace' , true); ">
                        <span>
                            Statistik Mengikut Negeri, Jantina dan Pendidikan
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="javascript:openinwindow('@Url.Action("ByStateAndGenderReligion", "Statistic", new { id = Model.Acquisition.AcquisitionId })', 'bystateandrace' , true); ">
                        <span>
                            Statistik Mengikut Negeri, Jantina dan Agama
                        </span>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <a class="btn btn-sm" href="@Url.Action("Index", "Admin" )">Kembali</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}