@using SevenH.MMCSB.Atm.Domain
@model SevenH.MMCSB.Atm.Web.Models.StatisticViewModel
@{
    ViewBag.Title = "Statistik mengikut negeri dan jantina";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


<div class="row">
    <h5>Statistik Calon Mengikut Jantina dan Negeri Kelahiran - Pengambilan Siri @string.Format("{0}/{1} {2}", Model.Acquisition.Siri, Model.Acquisition.Year, Model.Acquisition.AcquisitionType.AcquisitionTypeNm)</h5>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <table class="table table-bordered tile">
            <thead>
            <tr>
                <th>
                    Negeri
                </th>
                <th class="text-center">
                    Lelaki
                </th>
                <th class="text-center">
                    Perempuan
                </th>
                <th class="text-center">JUMLAH</th>
            </tr>
            </thead>
            <tbody>
            @{
                var total = 0;
                var totall = 0;
                var totalp = 0;
            }
            @foreach (var ap in @Model.ListOfState.OrderBy(a => a.StateCd))
            {
                total = total + ObjectBuilder.GetObject<IStatisticPersistance>("StatisticPersistance").Count(Model.Acquisition.AcquisitionId, new[] {ap.StateCd}, string.Empty, string.Empty, string.Empty, string.Empty, string.Empty);
                var lcount = ObjectBuilder.GetObject<IStatisticPersistance>("StatisticPersistance").Count(Model.Acquisition.AcquisitionId, new[] {ap.StateCd}, "L", string.Empty, string.Empty, string.Empty, string.Empty);
                totall = totall + lcount;
                var pcount = ObjectBuilder.GetObject<IStatisticPersistance>("StatisticPersistance").Count(Model.Acquisition.AcquisitionId, new[] {ap.StateCd}, "P", string.Empty, string.Empty, string.Empty, string.Empty);
                totalp = totalp + pcount;
                var rowtotal = lcount + pcount;
                <tr>
                    <td style="text-align: left">@ap.StateDesc</td>
                    <td style="width: 80px">@lcount</td>
                    <td style="width: 80px">@pcount</td>
                    <td style="width: 80px" class="bg-primary">@rowtotal</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr class="bg-primary">
                <td style="text-align: left">JUMLAH</td>
                <td style="width: 80px">@totall</td>
                <td style="width: 80px">@totalp</td>
                <td style="width: 80px">@total</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row">
    <input type="button" class="btn btn-sm hidden-print" value="Tutup" onclick="javascript: window.close();" />
    <input type="button" class="btn btn-sm hidden-print" value="Cetak" onclick="javascript: window.print();" />
</div>