@using Newtonsoft.Json
@model SevenH.MMCSB.Atm.Web.Models.ResumeViewModel
@{
    ViewBag.Title = "Resume Saya";
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
}
@section styles
{
    @Styles.Render("~/bundles/datepickercss")
}


<div class="row">
    <h4>PERMOHONAN UNTUK MENJADI PEGAWAI TENTERA</h4>
    <div class="tab-container tile">
        <ul class="nav tab nav-tabs" id="resume">
            <li role="presentation" class="active"><a data-toggle="tab" href="#peribadi">Peribadi</a></li>
            <li role="presentation"><a data-toggle="tab" href="#akademik">Keputusan Peperiksaan</a></li>
            <li role="presentation"><a data-toggle="tab" href="#sponsorship">Penajaan &amp; Biasiswa</a></li>
            <li role="presentation"><a data-toggle="tab" href="#sport">Sukan/Badan Beruniform/Kemahiran</a></li>
            <li role="presentation"><a data-toggle="tab" href="#crime">Pengakuan</a></li>
            <li role="presentation"><a data-toggle="tab" href="#confirmation">Pengesahan</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="peribadi">
                <form id="form_peribadi" action="#" role="form" class="form-validation-1">
                    <div class="row">
                        <div class="col-md-5">
                            @Html.Partial("_PeribadiMain")
                        </div>
                        <div class="col-md-4">
                            @Html.Partial("_PeribadiMaritalAndNationality")
                        </div>
                        <div class="col-md-3">
                            @Html.Partial("_PeribadiPhysical")
                        </div>
                    </div>
                    <div class="row">
                        @Html.Partial("_PeribadiAddress")
                    </div>
                    <div class="row-fluid">
                        @Html.Partial("_PeribadiParentsAndServices")
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm m-t-10" data-bind="click: saveperibadi">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                                </button>
                                <button type="button" class="btn btn-primary btn-sm m-t-10" data-bind="click: saveprofileandcontinue">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan &amp; Teruskan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="akademik">
                <form id="form_akademik">
                    @Html.Partial("_AcademicPegawai", @Model)
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm m-t-10" data-bind="click: saveacademics">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                                </button>
                                <button type="button" class="btn btn-primary btn-sm m-t-10" data-bind="click: saveacademicandcontinue">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan &amp; Teruskan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="sport">
                @Html.Partial("_SportAssociationAndSkillView")
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-sm" data-bind="click: saveskill">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" data-bind="click: saveskillandcontinue">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan &amp; Teruskan
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="sponsorship">
                <form id="sponsorship_form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-container tile">
                                <div class="tab-content">
                                    @Html.Partial("_SponsorshipAndDeclaration")
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary btn-sm" data-bind="click: savecontract">
                                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm" data-bind="click: savecontractandcontinue">
                                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan &amp; Teruskan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="crime">
                @Html.Partial("_DeclarationOfCrimeAndHealth")
            </div>
            <div class="tab-pane fade" id="confirmation">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default tile">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Keutamaan Perkhidmatan Pilihan
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label">Pilihan Pertama</label>
                                    <div class="pull-right">
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_firstchoice" value="TD" />Tentera Darat
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_firstchoice" value="TLDM" />Tentera Laut Diraja Malaysia
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_firstchoice" value="TUDM" />Tentera Udara Diraja Malaysia
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Pilihan Kedua</label>
                                    <div class="pull-right">
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_secondchoice" value="TD" />Tentera Darat
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_secondchoice" value="TLDM" />Tentera Laut Diraja Malaysia
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_secondchoice" value="TUDM" />Tentera Udara Diraja Malaysia
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Pilihan Ketiga</label>
                                    <div class="pull-right">
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_thirdchoice" value="TD" />Tentera Darat
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_thirdchoice" value="TLDM" />Tentera Laut Diraja Malaysia
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_thirdchoice" value="TUDM" />Tentera Udara Diraja Malaysia
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form id="confirmation_form" role="form">
                            <div class="panel panel-default tile">
                                <div class="panel-heading">
                                    <h4 class="panel-title"></h4>
                                </div>
                                <div class="panel-body">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="true" name="aggree_to_submit" data-bind="iCheckBox: applicant.IsAgreeInd"/> * Saya mengaku dan mengesahkan bahawa semua maklumat dalam permohonan ini adalah benar dan betul. Saya membenarkan pihak ATM membuat
                                        semakan dengan pihak-pihak yang relevan untuk memastikan kesahihan maklumat ini dan tidak akan mengambil sebarang tindakan undang-undang
                                        terhadap ATM dan pihak-pihak yang berkenaan. Saya faham dan bersetuju sekiranya maklumat yang diberikan dalam borang ini atau dokumen yang
                                        dikepilkan tidak benar, maka permohonan saya boleh dibatalkan dan tindakan ganti rugi boleh diambil terhadap saya.
                                    </label>
                                    <div class="row">
                                        <h6><span class="red"><u>Peringatan :</u></span></h6>
                                        <p><span class="red">Borang yang telah dihantar tidak boleh dikemaskini. Oleh itu mohon pastikan semua maklumat adalah lengkap dan tepat.</span></p>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-primary btn-sm" data-bind="click: saveprofile">
                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm" data-bind="enable: applicant.IsAgreeInd(), click: submitapplication">
                                        <input type="hidden" data-bind="value: applicant.ApplicantId" />
                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Hantar Borang
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Uploader")
@section scripts
{
    <script type="text/javascript">
        var applicant = @Html.Raw(JsonConvert.SerializeObject(@Model.ApplicantModel, Formatting.None,
                            new JsonSerializerSettings()
                            {
                                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                            }));
        var acquisitionid = @Model.AcquisitionId;
        // checklist
        peribadi = @Model.Peribadi;
        akademik = @Model.Akademik;
        sport = @Model.Sport;
        pengakuan = @Model.Pengakuan;
        sponsorship = @Model.Sponsorship;
        var servicescode = '@Model.ServiceCode';
    </script>
    @Scripts.Render("~/bundles/datepicker")
    <script src="@Url.Content("~/Content/frontend/js/validation/validate.min.js")"></script> <!-- jQuery Form Validation Library -->
    <script src="@Url.Content("~/Content/frontend/js/validation/validationEngine.min.js")"></script> <!-- jQuery Form Validation Library - requirred with above js -->
    <script src="@Url.Content("~/Scripts/Core/knockout.icheck.handler.js")"></script>
    <script src="@Url.Content("~/Scripts/Main/public_common.load.js")"></script>
    <script src="@Url.Content("~/Scripts/Main/public_pegawaikadet.js")"></script>
    <script type="text/javascript"></script>

}
