@using SevenH.MMCSB.Atm.Domain
@using SevenH.MMCSB.Atm.Domain.Interface
@{
    ViewBag.Title = "Carian Pemohon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section styles{
    <style>
        a:hover {
            color: #0000ff;
        }

        #contextMenu {
            position: absolute;
            display: none;
        }
    </style>
}


<div class="row">
    <div class="tile">
        <h2 class="tile-title">Senarai Permohonan Pengambilan @Model.Acquisition.AcquisitionType.AcquisitionTypeNm @Model.Acquisition.Siri / @Model.Acquisition.Year</h2>
        <div class="p-10">
            <div class="row">
                <div class="form-group p-5">
                    <label class="radio-inline">
                        <input type="radio" name="search" value="00" /> Semua Permohonan
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group p-5">
                    <label class="radio-inline">
                        <input type="radio" name="search" value="01" /> Dipanggil ke Pemilihan Awal
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group p-5">
                    <label class="radio-inline">
                        <input type="radio" name="search" value="02" /> Dipanggil Temuduga/Berjaya Pemilihan Awal (dipanggil ke Pemilihan Akhir)
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group p-5">
                    <label class="radio-inline">
                        <input type="radio" name="search" value="03" /> Lulus Temuduga/Pemilihan Akhir
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-sm" value="Carian Calon" data-bind="click: search" />
            </div>
            <div class="form-group">
                <table id="applicant_table" class="table table-bordered tile">
                    <thead>
                        <tr>
                            <th class="col-md-1">Bil</th>
                            <th>Nama</th>
                            <th class="col-md-2">No Kad Pengenalan</th>
                            <th class="col-md-3">Status Permohonan</th>
                            <th class="col-md-1 text-center">Tindakan</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <a class="btn btn-sm" href="@Url.Action("Index", "Admin")">Kembali</a>
    @*<a class="btn btn-sm" href="@Url.Action("AddApplicant", "Admin" )">Tambah Calon</a>*@
</div>

@section scripts{
    <script type="text/javascript">
        var selectedid = @Model.Acquisition.AcquisitionId;
    </script>

    <script src="@Url.Content("~/Scripts/Core/jquery.dataTables-1.9.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/jquery-dataTable-bootstrap-extender.js")"></script>
    <script src="@Url.Content("~/Scripts/Main/admin_searchapplicant.js")"></script>
}
