@using System.Configuration
<!DOCTYPE html>
<html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="ANGKATAN TENTERA MALAYSIA, TENTERA DARAT MALAYSIA, TENTERA LAUT MALAYSIA, TENTERA UDARA MALAYSIA">
    <meta name="keywords" content="JOM MASUK TENTERA">
    <title>JOM MASUK TENTERA</title>

    <!-- CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/frontendcss")
    @RenderSection("styles", required: false)
    @{
        var lastlogout = string.Empty;
        var user = HttpContext.Current.User;
        var applicantid = 0;

        var fullname = user.Identity.Name;

    }
</head>
<body>
    <header id="header" class="media">
        <a href="" id="menu-toggle-atm"></a>
        <div class="logo-atm pull-left">
            <div class="m-l-10">
                <img height="60" src="~/Images/logoatm.png" alt="Angkatan Tentera Malaysia" />
                <img height="60" src="~/Images/logotdm.png" alt="Tentera Darat Malaysia" />
                <img height="60" src="~/Images/logotldm.png" alt="Tentera Laut DiRaja Malaysia" />
                <img height="65" src="~/Images/logotudm.png" alt="Tentera Udara DiRaja Malaysia" />
            </div>
        </div>

        <div class="media-body">
            <div class="pull-left m-t-10 m-l-10 logo-font">
                JOM MASUK TENTERA
            </div>
            <div class="media" id="top-menu">
                <div id="time" class="pull-right">
                    <span id="hours"></span>
                    :
                    <span id="min"></span>
                    :
                    <span id="sec"></span>
                </div>
            </div>

        </div>
    </header>
    <!-- Breadcrumb -->
    @Html.Partial("_TopMenuPublic")

    <div class="clearfix"></div>
    <section id="main" class="p-relative" role="main">
        <!-- Sidebar -->
        <aside id="sidebar">

            <!-- Sidbar Widgets -->
            <div class="side-widgets overflow">
                <!-- Profile Menu -->
                <div class="text-center s-widget m-b-25 m-l-5 m-r-5 dropdown" id="profile-menu">

                    <a href="" data-toggle="dropdown">
                        <img class="profile-pic img-rounded" id="profilephoto" src="~/Images/noimage.jpg")" alt="">
                    </a>
                    <p>
                        <i>Ukuran passport</i>
                    </p>
                    <h5 class="m-0">@fullname</h5>
                    <h6>Log masuk terakhir adalah pada : @lastlogout</h6>
                    <input type="button" class="btn btn-default btn-xs m-t-5 m-b-5" value="Pilih Gambar" id="profile_img_button" />
                    <ul class="dropdown-menu profile-menu m-l-5 m-r-5">
                        <li><a href="@Url.Action("Application", "Public")">Permohonan</a></li>
                        <li><a href="@Url.Action("Account", "Public")">Profil Saya</a></li>
                        <li><a href="@Url.Action("ChangePassword", "Account")">Tukar Katalaluan</a></li>
                        <li><a href="@Url.Action("SignOut","Account")" class="logout">Log Keluar</a></li>
                    </ul>
                </div>

                <!-- Calendar -->
                <div class="s-widget m-b-25 m-l-5 ">
                    <div id="sidebar-calendar"></div>
                </div>

                <!-- Projects -->
                @Html.Partial("_CheckList")

            </div>

            <!-- Side Menu -->
            <ul class="list-unstyled side-menu">
                <li>
                    <a class="sa-side-home" href="@Url.Action("Application", "Public")">
                        <span class="menu-item">Utama</span>
                    </a>
                </li>
            </ul>

        </aside>

        <!-- Content -->
        <section id="content" class="container">
            <div class="block-area">
                @RenderBody()
            </div>
        </section>
        @Html.Partial("_CommonChecker")
    </section>
    @Html.Partial("_Footer")
    @Html.Partial("_CommonDialog")
    @Html.Partial("_Uploader")

    <!-- Javascript Libraries -->
    <!-- jQuery -->
    <!-- Bootstrap -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/Core/knockout-3.3.0.js"></script>
    <script src="~/Scripts/Core/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/Core/knockout.jqueryui.autocomplete.js"></script>
    <!-- UX -->
    <script src="~/Content/frontend/js/scroll.min.js"></script>
    <!-- Custom Scrollbar -->
    <!-- Other -->
    <script src="~/Content/frontend/js/calendar.min.js"></script> <!-- Calendar -->
    <script src="~/Content/frontend/js/feeds.min.js"></script> <!-- News Feeds -->
    <script src="~/Content/frontend/js/icheck.js"></script> <!-- iCheck -->
    <script type="text/javascript">
        var virtualdirectory = '';
        var server = '@ConfigurationManager.AppSettings["server"]';
        var peribadi = 0;
        var akademik = 0;
        var sport = 0;
        var pengakuan = 0;
        var sponsorship = 0;
    </script>
    <script src="~/Scripts/Core/jquery.fileupload.js"></script>
    <script src="~/Scripts/Main/default.js"></script>
    <script type="text/javascript">
        $(function () {
            var applicantid = @applicantid;
            var fileupload = $('#filetoupload').fileupload();

            function loadprofilephoto() {
                if (applicantid !== 0) {
                    $.ajax({
                        type: 'POST',
                        url: server + '/Common/GetProfilePhoto',
                        data: JSON.stringify({applicantid : applicantid}),
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            if (msg.OK) {
                                $('#profilephoto').attr('src', msg.src);
                            }
                        },
                        error: function (xhr) {
                        }
                    });
                }
            }

            $('#profile_img_button').click(function () {

                // Get applicant id before proceed to upload photo
                $.ajax({
                    type: 'POST',
                    url: server + '/Common/CheckApplicant',
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        if (!msg.OK) {
                            ShowMessage("<p><i>Sila isi borang terlebih dahulu sebelum muat naik gambar</i></p>");
                        } else {
                            applicantid = msg.id;
                            $("#upload_dialog").modal({
                                show: 'true',
                                backdrop: 'true',
                                keyboard: 'true'
                            });

                            $('#filuploadname').val('');
                            $('#progressbar').attr('aria-valuenow', '0');
                            $('#progressbar').attr('aria-valuemin', '0');
                            $('#progressbar').width(0);
                            fileupload = $('#filetoupload').fileupload({
                                dataType: 'json',
                                url: server + '/Upload/Upload',
                                limitConcurrentUploads: 1,
                                sequentialUploads: true,
                                progressInterval: 100,
                                formData: { uploadtype : 'PROFILE', applicantid: applicantid},
                                add: function (e, data) {
                                    data.context = $('#fileuploadbutton')
                                        .click(function () {
                                            data.submit();
                                        });
                                },
                                done: function (e, data) {
                                    var result = ko.mapping.toJS(data.result);
                                    if (result.OK) {
                                        loadprofilephoto();
                                    } else {
                                        ShowMessage(result.message);
                                    }
                                    $('#upload_dialog').modal('hide');

                                }
                            }).on('fileuploadadd', function (e, data) {
                                $.each(data.files, function (index, file) {
                                    $('#filuploadname').val(file.name);
                                });
                            }).on('fileuploadprogressall', function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                $('#progressbar').css('width', progress + '%');
                            });
                        }
                    },
                    error: function (xhr) {
                    }
                });

            });

            loadprofilephoto();
            initializeChecklist(peribadi, akademik, pengakuan, sponsorship, sport);
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                ShowMessage('@ViewBag.Message');
            });
        </script>
    }
    @RenderSection("scripts", required: false)
    <!-- All JS functions -->
    <script src="~/Content/frontend/js/functions.js"></script>
    <script src="~/Scripts/Main/default.after.js"></script>
</body>
</html>
