@using System.Configuration
<!DOCTYPE html>
<html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="ANGKATAN TENTERA MALAYSIA, TENTERA DARAT MALAYSIA, TENTERA LAUT MALAYSIA, TENTERA UDARA MALAYSIA">
    <meta name="keywords" content="JOM MASUK TENTERA">
    <title>JOM MASUK TENTERA</title>

    <!-- CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/frontendcss")
    @RenderSection("styles", required: false)
</head>
<body>

    <table class="col-md-12" style="height: 100%; width: 100%">
        <tr>
            <td style="vertical-align: middle; text-align: center">
                @RenderBody()

            </td>
        </tr>
        <tr>
            <td>
                @Html.Partial("_Footer")
            </td>
        </tr>
    </table>
    @Html.Partial("_CommonDialog")

    <!-- Javascript Libraries -->
    <!-- jQuery -->
    <!-- Bootstrap -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="@Url.Content("~/Scripts/Core/knockout-3.3.0.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/knockout.mapping-latest.debug.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/knockout.jqueryui.autocomplete.js")"></script>
    <!-- UX -->
    <script src="@Url.Content("~/Content/frontend/js/scroll.min.js")"></script>
    <!-- Custom Scrollbar -->
    <!-- Other -->
    <script src="@Url.Content("~/Content/frontend/js/calendar.min.js")"></script> <!-- Calendar -->
    <script src="@Url.Content("~/Content/frontend/js/feeds.min.js")"></script> <!-- News Feeds -->
    <script src="@Url.Content("~/Content/frontend/js/icheck.js")"></script> <!-- iCheck -->
    <!-- All JS functions -->
    <script src="@Url.Content("~/Content/frontend/js/functions.js")"></script>
    <script type="text/javascript">
        var virtualdirectory = '';
        var server = '@ConfigurationManager.AppSettings["server"]';
        $(function () {
            $('html').toggleClass('menu-active');
            $('#sidebar').toggleClass('toggled');
        });
    </script>
    <script src="@Url.Content("~/Scripts/Main/default.js")"></script>
        @RenderSection("scripts", required: false)
    <!-- Debug Purpose -->
    <script src="@Url.Content("~/Scripts/Main/debug.js")"></script>
</body>
</html>
