@using System.Configuration
<!DOCTYPE html>
<html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="ANGKATAN TENTERA MALAYSIA, TENTERA DARAT MALAYSIA, TENTERA LAUT MALAYSIA, TENTERA UDARA MALAYSIA">
    <meta name="keywords" content="JOM MASUK TENTERA">
    <title>JOM MASUK TENTERA</title>

    <!-- CSS -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/frontendcss")
    @RenderSection("styles", required: false)
</head>
<body>
    <header id="header" class="media">
        <div class="pull-left m-l-10">
            <img height="60" src="@Url.Content("~/Images/logoatm.png")" alt="Angkatan Tentera Malaysia" />
            <img height="60" src="@Url.Content("~/Images/logotdm.png")" alt="Tentera Darat Malaysia" />
            <img height="60" src="@Url.Content("~/Images/logotldm.png")" alt="Tentera Laut DiRaja Malaysia" />
            <img height="65" src="@Url.Content("~/Images/logotudm.png")" alt="Tentera Udara DiRaja Malaysia" />
        </div>
        <div class="media-body">
            <div class="pull-left m-t-10 m-l-10 logo-font">
                JOM MASUK TENTERA
            </div>
            <div class="media" id="top-menu">

            </div>

        </div>
    </header>
    <!-- Breadcrumb -->
    @Html.Partial("_TopMenuPublic")

    <div class="clearfix"></div>
    <section id="main" class="p-relative" role="main">
        <!-- Content -->
        <section id="content" class="container">
            <div class="block-area">
                @RenderBody()
            </div>
        </section>
        @Html.Partial("_CommonChecker")

    </section>
    @Html.Partial("_Footer")
    @Html.Partial("_CommonDialog")

    <!-- Javascript Libraries -->
    <!-- jQuery -->
    <!-- Bootstrap -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="@Url.Content("~/Scripts/Core/knockout-3.3.0.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/knockout.mapping-latest.debug.js")"></script>
    <script src="@Url.Content("~/Scripts/Core/knockout.jqueryui.autocomplete.js")"></script>
    <!-- UX -->
    <script src="@Url.Content("~/Content/frontend/js/scroll.min.js")"></script>
    <!-- Custom Scrollbar -->
    <!-- Other -->
    <script src="@Url.Content("~/Content/frontend/js/calendar.min.js")"></script> <!-- Calendar -->
    <script src="@Url.Content("~/Content/frontend/js/feeds.min.js")"></script> <!-- News Feeds -->
    <script src="@Url.Content("~/Content/frontend/js/icheck.js")"></script> <!-- iCheck -->
    <script type="text/javascript">
        var virtualdirectory = '';
        var server = '@ConfigurationManager.AppSettings["server"]';
        $(function () {
            $('html').toggleClass('menu-active');
            $('#sidebar').toggleClass('toggled');
        });
    </script>
    <script src="@Url.Content("~/Scripts/Main/default.js")"></script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                ShowMessage('@ViewBag.Message');
            });
        </script>
    }
    @RenderSection("scripts", required: false)
    <!-- All JS functions -->
    <script src="@Url.Content("~/Content/frontend/js/functions.js")"></script>
    <!-- Debug Purpose -->
    @*<script src="@Url.Content("~/Scripts/Main/debug.js")"></script>*@
</body>
</html>
