@model SevenH.MMCSB.Atm.Web.Models.LoginViewModel
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <div class="tile">
        <h2 class="tile-title">Login Masuk</h2>
        @using (Html.BeginForm("LoginFromMain", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "p-15", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                 @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control input-sm"})
                @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                 @Html.LabelFor(m => m.Password, new {@class = "control-label"})
                @Html.PasswordFor(m => m.Password, new {@class = "form-control input-sm"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            </div>
            <p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </p>
            <div class="form-group">
                <input type="submit" value="Masuk" class="btn btn-sm m-t-10" />
            </div>
            <div class="form-group">
                <div class="media">
                    <i class="icon pull-right">&#61792;</i>
                    <div class="media-body">
                        <a href="@Url.Action("ResetPassword", "Account")" class="pull-right">Lupa Katalaluan</a>
                    </div>
                </div>
                <div class="media">
                    <i class="icon pull-right">&#61873;</i>
                    <div class="media-body">
                        <a href="@Url.Action("Register", "Public")" class="pull-right">Daftar</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p>
                    Laman web ini bertujuan untuk orang awam memohon memasuki tentera, menyemak status permohonan dan membuat ujian bertulis secara online.
                </p>
            </div>
        }

    </div>
}
