@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Login Masuk
        </div>
        <div class="panel-body main-left-page">
            <div class="col-md-12 main-left-page">
                @using (Html.BeginForm("LoginFromMain", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal padding-3", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="col-md-12">
                        <label>Id Pengguna</label>
                        @Html.TextBox("username", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12">
                        <label>Kata Laluan</label>
                        @Html.Password("password", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Masuk" class="btn btn-primary pull-right margin-tb-5" />
                    </div>
                    <div class="col-md-12">
                        <a href="@Url.Action("ResetPassword", "Account")" class="pull-right">Lupa Katalaluan</a>
                        <br />
                        <a href="@Url.Action("Register", "Public")" class="pull-right">Daftar</a>
                    </div>
                    <div class="col-md-12">
                        <p>
                            Laman web ini bertujuan untuk orang awam memohon  memasuki tentera, menyemak  status permohonan dan membuat ujian bertulis secara online.
                        </p>
                    </div>
                }
            </div>
            <div class="col-md-12">
                <a href=""></a>
            </div>
        </div>
    </div>
}
