@model SevenH.MMCSB.Atm.Web.Models.UserAccountViewModel
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_LayoutWithMenu.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="tile">
            <div class="tile-title">PROFIL SAYA</div>
            @using (Html.BeginForm("Account", "Public", null, FormMethod.Post, new { @class = "p-15", role = "form", id = "account_form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                <div>
                    <div class="form-group">
                        <label class="control-label">Nama Penuh</label>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control input-sm" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">No Kad Pengenalan</label>
                        @Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control input-sm", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Emel</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm"})
                    </div>
                    <div class="form-group">
                        <label class="control-label">Emel Alternatif</label>
                        @Html.TextBoxFor(m => m.AlternateEmail, new {@class = "form-control input-sm"})
                    </div>
                    <p>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>