@model SevenH.MMCSB.Atm.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Daftar";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Daftar (Awam)
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Public", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "register_form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">
                        <label><span class="red">*</span> Nama Penuh</label>
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <label><span class="red">*</span>No Kad Pengenalan</label>
                        @Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.IdNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <label><span class="red">*</span>Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <label><span class="red">*</span>Email Alternatif</label>
                        @Html.TextBoxFor(m => m.AlternateEmail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AlternateEmail, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 margin-tb-5">
                        <input type="submit" class="btn btn-primary" value="Hantar" /><i style="padding-left: 5px;">Kata laluan akan diemelkan kepada anda.</i>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/Main/public_register.js")"></script>
}
