@model SevenH.MMCSB.Atm.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Daftar";
}

<div class="row">
    <div class="col-md-6">
        <div class="tile">
            <h2 class="tile-title">Daftar Pemohon</h2>
            @using (Html.BeginForm("Register", "Public", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "p-15", role = "form", id = "register_form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-12">Nama Penuh<span class="red">*</span> <i>(Seperti yang tertera di dalam Kad Pengenalan)</i></label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-12">No Kad Pengenalan<span class="red">*</span> <i>(Contoh: 900101011234)</i></label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.IdNumber, new { @class = "form-control input-sm", id = "register_idnumber" })
                            @Html.ValidationMessageFor(m => m.IdNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-12">Email<span class="red">*</span></label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-12">Email Alternatif<span class="red">*</span></label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.AlternateEmail, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.AlternateEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <p>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-sm m-t-10" value="Hantar" data-bind="enabled: isvalid" />
                            <input type="button" class="btn btn-sm m-t-10" value="Batal" data-bind="click: cancel" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <i>Kata laluan akan diemelkan kepada anda.</i>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/Main/public_register.js")"></script>
}
