@using Newtonsoft.Json
@model SevenH.MMCSB.Atm.Web.Models.ResumeViewModel
@{
    ViewBag.Title = "Resume Saya";
    Layout = "../Shared/_EmptyLayoutWithMenu.cshtml";
}
@section styles
{
    @Styles.Render("~/Content/datepickercss")
}


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="resume">
            <li role="presentation" class="active"><a data-toggle="tab" href="#peribadi">Peribadi</a></li>
            <li role="presentation"><a data-toggle="tab" href="#akademik">Keputusan Akademik</a></li>
            <li role="presentation"><a data-toggle="tab" href="#sport">Kegiatan Sukan &amp; Kokurikulum</a></li>
            <li role="presentation"><a data-toggle="tab" href="#service">Maklumat Perkhidmatan &amp; Ikatan</a></li>
            <li role="presentation"><a data-toggle="tab" href="#computer">Kemahiran Komputer</a></li>
            <li role="presentation"><a data-toggle="tab" href="#skill">Kebolehan/Kemahiran</a></li>
            <li role="presentation"><a data-toggle="tab" href="#crime">Jenayah/Dadah</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="peribadi">
            <form class="form-horizontal" id="form_peribadi" action="#">
                <div class="row">
                    <div class="col-md-6">
                        <div class="emptyspace"></div>
                        <div class="form-group">
                            <label for="fullname" class="col-sm-4 control-label">Nama Penuh</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="fullname" data-bind="value: applicant.FullName">
                                <input type="hidden" class="form-control" data-bind="value: applicant.ApplicantId">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="idnumber" class="col-sm-4 control-label">No Kad Pengenalan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="idnumber" data-bind="value: applicant.NewIcNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">Emel</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email" data-bind="value: applicant.Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dateofbirth" class="col-sm-4 control-label">Tarikh Lahir</label>
                            <div class="col-sm-8">
                                <div class="input-group" style="cursor: pointer" id="birthdatepicker">
                                    <input type="text" class="form-control" data-bind="value: applicant.BirthDate">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar "></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status Perkahwinan</label>
                            <div class="col-sm-8">
                                @foreach (var m in @Model.MaritalStatuses)
                                {
                                    <label class="radio-inline">
                                        <input type="radio" class="radio-inline" name="maritalstatus" value="@m.MrtlStatusCd" data-bind="checked: applicant.MrtlStatusCd" /><span>@m.MrtlStatus</span>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="emptyspace"></div>
                        <div class="media">
                            <div class="media-right">
                                <a href="#">
                                    <img class="media-object" src="" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="emptyspace"></div>
                        <div class="form-group">
                            <label for="dateofbirth" class="col-sm-4 control-label">Tinggi</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: applicant.Height">
                                    <span class="input-group-addon">meter</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nationality" class="col-sm-4 control-label">Kerakyatan</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="nationality" data-bind="options: countries, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.NationalityCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="religion" class="col-sm-4 control-label">Agama</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="religion" data-bind="options: religions, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.ReligionCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tempat Tinggal</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="placeofliving" value="L" data-bind="checked: applicant.ResidenceTypeInd" />Luar Bandar
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="placeofliving" value="B" data-bind="checked: applicant.ResidenceTypeInd" />Bandar
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mailingaddress1" class="col-sm-4 control-label">Alamat Surat Menyurat Terkini</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="mailingaddress1" data-bind="value: applicant.CorresponAddr1">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="mailingaddress1" data-bind="value: applicant.CorresponAddr2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="mailingaddress1" data-bind="value: applicant.CorresponAddr3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mailingpostcode" class="col-sm-4 control-label">Poskod</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="mailingpostcode" data-bind="value: applicant.CorresponAddrPostCd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mailingcountry" class="col-sm-4 control-label">Negara</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="mailingcountry" data-bind="options: countries, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.CorresponAddrCountryCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mailingstate" class="col-sm-4 control-label">Negeri</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="mailingstate" data-bind="options: states, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.CorresponAddrStateCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mailingcity" class="col-sm-4 control-label">Bandar</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="mailingcity" data-bind="options: cities, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.CorresponAddrCityCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mothersname" class="col-sm-4 control-label">Nama Ibu</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="mothersname" data-bind="value: applicant.MomName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="motheroccupation" class="col-sm-4 control-label">Pekerjaan Ibu</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="motheroccupation" data-bind="value: applicant.MomOccupation" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fathername" class="col-sm-4 control-label">Nama Bapa</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="fathername" data-bind="value: applicant.DadName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fatheroccupation" class="col-sm-4 control-label">Pekerjaan Bapa</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="fatheroccupation" data-bind="value: applicant.DadOccupation" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="guardianname" class="col-sm-4 control-label">Nama Penjaga</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="guardianname" data-bind="value: applicant.GuardianName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="guardianoccupation" class="col-sm-4 control-label">Pekerjaan Penjaga</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="guardianoccupation" data-bind="value: applicant.GuardianOccupation" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="familyhigheducation" class="col-sm-4 control-label">Kelulusan Tertinggi Keluarga</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="familyhigheducation">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="emptyspace"></div>
                        <div class="form-group">
                            <label for="dateofbirth" class="col-sm-4 control-label">Berat</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-bind="value: applicant.Weight">
                                    <span class="input-group-addon">Kg</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nationalitycertno" class="col-sm-4 control-label">No Sijil Kerakyatan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="nationalitycertno" data-bind="value: applicant.NationalityCertNo">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="race" class="col-sm-4 control-label">Bangsa</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="race" data-bind="options: races, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.RaceCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ethnic" class="col-sm-4 control-label">Etnik</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="ethnic" data-bind="options: ethnics, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.EthnicCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="homephoneno" class="col-sm-4 control-label">No. Tel Rumah</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="homephoneno" data-bind="value: applicant.HomePhoneNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobilephoneno" class="col-sm-4 control-label">No Tel Bimbit</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="mobilephoneno" data-bind="value: applicant.MobilePhoneNo">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="relativephoneno" class="col-sm-4 control-label">No Tel Waris</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="relativephoneno">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="childno" class="col-sm-4 control-label">Anak Ke</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="childno" data-bind="value: applicant.ChildNo">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="motheridnumber" class="col-sm-4 control-label">No Kad Pengenalan/Passport Ibu</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="motheridnumber" data-bind="value: applicant.MomIcNo">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="motherincome" class="col-sm-4 control-label">Pendapatan Sebulan (RM)</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon">RM</span>
                                    <input type="text" class="form-control" id="motherincome" data-bind="value: applicant.MomSalary">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fatheridnumber" class="col-sm-4 control-label">No Kad Pengenalan/Passort Bapa</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="fatheridnumber" data-bind="value: applicant.DadIcNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fatherincome" class="col-sm-4 control-label">Pendapatan Sebulan (RM)</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon">RM</span>
                                    <input type="text" class="form-control" id="fatherincome" data-bind="value: applicant.DadSalary">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="guardianidnumber" class="col-sm-4 control-label">No Kad Pengenalan/Passport Penjaga</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="guardianidnumber" data-bind="value: applicant.GuardianIcNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dateofbirth" class="col-sm-4 control-label">Pendapatan Sebulan (RM)</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon">RM</span>
                                    <input type="text" class="form-control" data-bind="value: applicant.GuardianSalary">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dateofbirth" class="col-sm-4 control-label">Bercermin Mata/Kanta Lekap?</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="spectacle" value="Y" data-bind="checked: applicant.SpectaclesUserInd" />Ya
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="spectacle" value="N" data-bind="checked: applicant.SpectaclesUserInd" />Tidak
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="bmi" class="col-sm-4 control-label">BMI</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="bmi" data-bind="value: applicant.Bmi">
                                    <span class="input-group-addon">BMI</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthcertno" class="col-sm-4 control-label">No Sijil Lahir</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="birthcertno" data-bind="value: applicant.BirthCertNo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthcountry" class="col-sm-4 control-label">Negara Kelahiran</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="birthcountry" data-bind="options: countries, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.BirthCountryCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthstate" class="col-sm-4 control-label">Negeri Kelahiran</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="birthstate" data-bind="options: birthstates, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.BirthStateCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthcity" class="col-sm-4 control-label">Bandar Kelahiran</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="birthcity" data-bind="options: birthcities, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.BirthCityCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="placeofbirth" class="col-sm-4 control-label">Tempat Kelahiran</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="placeofbirth" data-bind="value: applicant.BirthPlace">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="childfrom" class="col-sm-4 control-label">Daripada</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="childfrom" data-bind="value: applicant.NoOfSibling">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mothernationality" class="col-sm-4 control-label">Warganegara Ibu</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="mothernationality" data-bind="options: countries, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.MomNationalityCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="motherphoneno" class="col-sm-4 control-label">No Telefon</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="motherphoneno">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fathernationality" class="col-sm-4 control-label">Warganegara Bapa</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="fathernationality" data-bind="options: countries, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.DadNationalityCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fahterphoneno" class="col-sm-4 control-label">No Telefon</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="fahterphoneno">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="guardiannationality" class="col-sm-4 control-label">Warganegara Penjaga</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="guardiannationality" data-bind="options: countries, optionsText: 'Name', optionsValue: 'Code', optionsCaption: 'SILA PILIH', valueAllowUnset: true, value: applicant.GuardianNationalityCd"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="guardianphoneno" class="col-sm-4 control-label">No Telefon</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="guardianphoneno">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-sm" data-bind="click: saveprofile">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="akademik">
            <form id="form_akademik" class="form-horizontal">
                <div class="row">
                    <div class="emptyspace"></div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Bil.</th>
                                    <th>Tahap Pendidikan</th>
                                    <th>Sijil/Bidang</th>
                                    <th>Keputusan</th>
                                    <th>Tahun</th>
                                    <th>Pusat Pengajian</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: applicant.ApplicantEducations">
                            <tr>
                                <td data-bind="text: $index() + 1"></td>
                                <td><select class="form-control" data-bind="options: $root.higheducations, optionsCaption: 'SILA PILIH', optionsText: 'Name', optionsValue: 'Code', value: $data.HighEduLevelCd"></select></td>
                                <td><input type="text" class="form-control" data-bind="value: $data.EduCertTitle"/></td>
                                <td><input type="text" class="form-control" data-bind="value: $data.OverallGrade"/></td>
                                <td><input type="text" class="form-control" data-bind="value: $data.ConfermentYr"/></td>
                                <td>
                                    <input type="text" class="form-control" data-bind="visible: $data.HighEduLevelCd() == 15 || $data.HighEduLevelCd() == 14 || $data.HighEduLevelCd() == 25 || $data.HighEduLevelCd() == 13,  value: $data.InstitutionName"/>
                                    <select class="form-control" data-bind="options: $root.institutions, optionsCaption: 'SILA PILIH', optionsText: 'Name', optionsValue: 'Code',visible: $data.HighEduLevelCd() == 11 || $data.HighEduLevelCd() == 10 || $data.HighEduLevelCd() == 01 || $data.HighEduLevelCd() == 20 || $data.HighEduLevelCd() == 08 || $data.HighEduLevelCd() == 07 || $data.HighEduLevelCd() == 26, value: $data.InstCd"></select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default btn-sm" data-bind="click: $root.managesubject">
                                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" data-bind="click: $root.removeacademic">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" data-bind="visible: isedusubject">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            SUBJEK
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Subjek (jika perlu)</th>
                                        <th>Subjek</th>
                                        <th>Gred/Keputusan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><i>(SPM Sahaja)</i></td>
                                        <td>Bahasa Malaysia</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Bahasa Inggeris</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Matematik</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Kimia</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Fizik</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Sains</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Sejarah</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Matematik Tambahan</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Sastera</td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><select class="form-control"></select></td>
                                        <td><input type="checkbox" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-sm" data-bind="click: addacademic">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Tambah
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="sport">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Bil.</th>
                                <th>Kegiatan Sukan Yang Disertai</th>
                                <th>Pencapaian/Peringkat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: sports">
                            <tr>
                                <td data-bind="text: $index() + 1">/td>
                                <td><select class="form-control" data-bind="options: $root.sportslist, optionsCaption: 'SILA PILIH', optionsText: 'Name', optionsValue: 'Id', valueAllowUnset: true, value: $data.SportAssocId"></select></td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.achievements, optionsCaption: 'SILA PILIH', optionsText: 'Name', optionsValue: 'Code', valueAllowUnset: true, value: $data.AchievementCd"></select>
                                    <input type="hidden" data-bind="value: $data.ApplicantSportAssocId" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" data-bind="click: $root.removesport">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" data-bind="click: addsport">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Tambah
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Bil.</th>
                                <th>Kegiatan Ko-Kurikulum Yang Disertai</th>
                                <th>Pencapaian/Peringkat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: kokos">
                            <tr>
                                <td data-bind="text: $index() + 1">/td>
                                <td><select class="form-control" data-bind="options: $root.kokolist, optionsCaption: 'SILA PILIH', optionsText: 'Name', optionsValue: 'Id', valueAllowUnset: true, value: $data.SportAssocId"></select></td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.achievements, optionsCaption: 'SILA PILIH', optionsText: 'Name', optionsValue: 'Code', valueAllowUnset: true, value: $data.AchievementCd"></select>
                                    <input type="hidden" data-bind="value: $data.ApplicantSportAssocId" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" data-bind="click: $root.removekoko">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" data-bind="click: addkoko">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Tambah
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Bil.</th>
                                <th>Lain-Lain</th>
                                <th>Pencapaian/Peringkat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: otherssportandassociations">
                            <tr>
                                <td data-bind="text: $index() + 1">/td>
                                <td><input type="text" class="form-control" data-bind="value: $data.SportAssocId" /></td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.achievements, optionsCaption: 'SILA PILIH', optionsText: 'Name', optionsValue: 'Code', valueAllowUnset: true, value: $data.AchievementCd"></select>
                                    <input type="hidden" data-bind="value: $data.ApplicantSportAssocId" />
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" data-bind="click: $root.removeothersportnkoko">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" data-bind="click: addothersportnkoko">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Tambah
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" data-bind="click: savesportnassociation">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="service">
            <div class="emptyspace"></div>
            <div class="row">
                <form id="service_form" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" id="servicetab">
                                <li role="presentation" class="active"><a data-toggle="tab" href="#servicetab_now">Perkhidmatan Sekarang</a></li>
                                <li role="presentation"><a data-toggle="tab" href="#servicetab_contract">Ikatan/Kontrak</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="servicetab_now">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="servicetab_currentoccupation" class="col-sm-4 control-label">Pekerjaan Sekarang</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_currentoccupation">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="servicetab_currentorganization" class="col-sm-4 control-label">Organisasi</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_currentorganization">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="servicetab_currentsalary" class="col-sm-4 control-label">Gaji Sebulan</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">RM</span>
                                                        <input type="text" class="form-control" id="servicetab_currentsalary">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary btn-sm">
                                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="servicetab_contract">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    * Adakah anda ditauliahkan di dalam Pasukan Latihan Pegawai Simpanan (PALAPES) ? <label class="radio-inline"><input type="radio" name="servicetab_ispalapes" value="Y" />Ya</label><label class="radio-inline"><input type="radio" name="servicetab_ispalapes" value="N" />Tidak</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    Tahun
                                                </label>
                                                <div class="col-md-8">
                                                    <select class="form-control"></select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="servicetab_armyno" class="col-sm-4 control-label">No. Tentera</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_armyno">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="servicetab_palapesgraduationdate" class="col-sm-4 control-label">Tarikh Tamat Tauliah Sukarela</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="servicetab_palapesgraduationdate" />
                                                        <div class="input-group-addon" style="cursor: pointer">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="servicetab_palapesinstitute" class="col-sm-4 control-label">Pusat Pengajian</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_palapesinstitute">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="servicetab_otherqualification" class="col-sm-4 control-label">Lain-Lain Kelulusan (jika ada)</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_otherqualification">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            * Adakah anda terikat dalam perjanjian dengan mana-mana majikan atau badan bernaung biasiswa?
                                            <label class="radio-inline">
                                                <input type="radio" name="servicetab_scholarship" value="Y" /> Ya
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="servicetab_scholarship" value="N" /> Tidak
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="servicetab_oldemployername" class="col-sm-4 control-label">Nama Majikan</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_oldemployername">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="servicetab_contractperiod" class="col-sm-4 control-label">Ikatan Perjanjian Selama</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_contractperiod">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="servicetab_employeraddress" class="col-sm-4 control-label">Alamat</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_employeraddress">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="servicetab_contractstart" class="col-sm-4 control-label">Mulai</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_contractstart">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Adakah majikan anda sanggup memberikan pelepasan sekiranya anda dipilih untuk berkhidmat di dalam ATM?
                                            <label class="radio-inline">
                                                <input type="radio" name="servicetab_employeraggrement" value="Y" />Ya
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="servicetab_employeraggrement" value="N" />
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="servicetab_currentorganization" class="col-sm-4 control-label">Surat rasmi pelepasan majikan</label>
                                            <div class="col-sm-8">
                                                <input type="file" />
                                                <input type="button" class="btn btn-primary" value="Hapus" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>* Pernahkah anda menghadiri pemilihan pegawai tentera ?</strong>
                                            <label class="radio-inline">
                                                <input type="radio" class="radio" name="servicetab_attendatmofficer" value="Y" /> Ya
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" class="radio" name="servicetab_attendatmofficer" value="N" />Tidak
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="servicetab_attendatmofficerdate" class="col-sm-4 control-label">Tarikh</label>
                                                <div class="col-sm-8">
                                                    <div class="input input-group">
                                                        <input type="text" class="form-control" id="servicetab_attendatmofficerdate">
                                                        <div class="input-group-addon" style="cursor: pointer">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="servicetab_attendatmplace" class="col-sm-4 control-label">Tempat</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_attendatmplace">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <strong>* Pernahkah anda berkhidmat di ATM ?</strong>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_exatm" value="Y" /> Ya
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" class="radio" name="servicetab_exatm" value="N" /> Tidak
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="servicetab_exatmperiod" class="col-sm-4 control-label">Tempoh Perkhidmatan</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_exatmperiod">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="servicetab_exatmplace" class="col-sm-4 control-label">Tempat</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="servicetab_exatmplace">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <strong>Keutamaan Perkhidmatan Pilihan</strong>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Pilihan Pertama</label>
                                                <div class="col-sm-8">
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_firstchoice" value="TDM" />Tentera Darat
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_firstchoice" value="TLDM" />Tentera Laut Diraja Malaysia
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_firstchoice" value="TUDM" />Tentera Udara Diraja Malaysia
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Pilihan Kedua</label>
                                                <div class="col-sm-8">
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_secondchoice" value="TDM" />Tentera Darat
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_secondchoice" value="TLDM" />Tentera Laut Diraja Malaysia
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_secondchoice" value="TUDM" />Tentera Udara Diraja Malaysia
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Pilihan Ketiga</label>
                                                <div class="col-sm-8">
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_thirdchoice" value="TDM" />Tentera Darat
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_thirdchoice" value="TLDM" />Tentera Laut Diraja Malaysia
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" class="radio" name="servicetab_thirdchoice" value="TUDM" />Tentera Udara Diraja Malaysia
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="computer">
            <div class="row">
                <form class="form-inline" id="computer_form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox" value="MSWord" />MS Word
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox" value="MSExcel" />MS Excel
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox" value="MSPoint" />MS Power Point
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox" value="ICT" />ICT
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" class="checkbox" value="MSExcel" />Lain-Lain
                                </label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="skill">
            <div class="row">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Bil.</th>
                            <th>Jenis</th>
                            <th>Kebolehan/Kelebihan</th>
                            <th>Pencapaian</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Tambah
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="crime">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" id="crime_form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Pernahkan anda terlibat di dalam mana-mana kes jenayah ?
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" class="radio" name="crime_involve" value="Y" />Ya
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" class="radio" name="crime_involve" value="N" />Tidak
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Pernahkan anda terlibat di dalam mana-mana kes dadah ?
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" class="radio" name="crime_drug" value="Y" />Ya
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" class="radio" name="crime_drug" value="N" />Tidak
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Simpan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        var applicant = @Html.Raw(JsonConvert.SerializeObject(@Model.ApplicantModel));
        var appeducation = @Html.Raw(JsonConvert.SerializeObject(@Model.ApplicantEducation));
    </script>
    @Scripts.Render("~/bundles/datepicker")
    <script src="@Url.Content("~/Scripts/Main/public_resume.js")"></script>
}
