@model SevenH.MMCSB.Atm.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Tukar Kata Laluan";
    Layout = "../Shared/_EmptyLayoutWithMenu.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Tukar Kata Laluan
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "firsttime_form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-12">
                        <label><span class="red">*</span>Kata Laluan</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <label><span class="red">*</span>Kata Laluan Baru</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12">
                        <label><span class="red">*</span>Pengesahan Kata Laluan</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-12 margin-tb-5">
                        <input type="submit" class="btn btn-primary" value="Hantar" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


